button {
  border: none;
  background: none;
  cursor: pointer;
  transition: all 0.5s;
}

button:hover #pencil-border1 {
  fill: #d62f2f;
  stroke: #d62f2f;
}

button:hover {
  transform: scale(1.05) rotate(-0.5deg);
}

#pencil-border1 {
  transform: rotate(1deg);
  transform-origin: center;
  stroke: #ff2f02;
  fill: #ff2f02;
}

#pencil-border2 {
  transform: rotate(180deg);
  transform-origin: center;
  stroke: #ff2f02;
}

#pencil-text {
  font-family: "Cabin Sketch", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2.5em;
  fill: white;
  stroke: #ffffff00;
}
